[project]
name = "find-human-video"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "numpy>=1.26.0",
    "pillow>=10.0.0",
    "psutil>=5.9.0",
    "python-dotenv>=1.2.1",
    "ultralytics>=8.4.9",
]
